.container{
    padding: 0 25%;
    font-size: small;
    color: #211885;
}

nav {
    width: 100%;
    padding: 10px 0;
}

nav ul {
    /*text-decoration: none; */
    list-style: none;
}

nav ul li {
    padding: 10px;
    float: left;
    border-right: solid 1px black;

}

nav ul li:hover {
    padding: 10px;
    float: left;
    border-right: solid 1px black;
    box-shadow: 0px 4px 1px  rgba(243, 241, 241, 0.897);
    

}



.clearFix {
    display: block;
    content: "";
    clear: both;
}